table{
    border: 1px solid black;
}
th{
    border: 1px solid black;
    padding: 1rem;
    background-color: lightcoral;
}
td{
    padding: 0.5rem;
}
tr:nth-child(even){
    background-color: antiquewhite;
}

img {
    height: 60px;
    width: 60px;
}
img:hover {
    scale: 200%;
}

form {
    border: 1px solid red;
    padding: 0.5rem;
    margin: 1rem;
}
input {
    display: block;
    margin: 0.5rem;
}