<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <nav>
        <a href="{%url 'home'%}">Home</a>
    </nav>
    <h3>Login</h3>
    <span>{{error}}</span>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <input type="submit">
        <input type="reset">
    </form>
    <a href="{%url 'register'%}">New Here? Register here...</a>
</body>
</html>