<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"
        ></script>
        <title>Home</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <input type="text" name="amount" id="amount" />
        <button id="rzp-button1">Pay with Razorpay</button>
    
    </body>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        document.getElementById("rzp-button1").onclick = function (e) {
            e.preventDefault();
            const amount = parseInt(document.querySelector("#amount").value);
            if(amount<=0) return alert("Invalid Amount!");
            console.log(amount, typeof(amount));

            $.get("createOrder", { amount: amount }, (response) => {
                var options = {
                    key: "rzp_test_S3OBRdQwtxoAPZ", 
                    amount: amount, // Amount in currency subunits.
                    currency: "INR",
                    name: "Krish Technology",
                    description: "Test Transaction",
                    image: "https://example.com/your_logo",
                    order_id: response.orderId, 
                    handler: function (response) {
                        alert(response.razorpay_payment_id);
                        alert(response.razorpay_order_id);
                        alert(response.razorpay_signature);
                    },
                    prefill: {
                        name: "Krish Jariwala",
                        email: "krish@gmail.com",
                        contact: "2745337543",
                    },
                    notes: {
                        address: "Razorpay Corporate Office",
                    },
                    theme: {
                        color: "#3399cc",
                    },
                };
                var rzp1 = new Razorpay(options);
                rzp1.on("payment.failed", function (response) {
                    alert(response.error.code);
                    alert(response.error.description);
                    alert(response.error.source);
                    alert(response.error.step);
                    alert(response.error.reason);
                    alert(response.error.metadata.order_id);
                    alert(response.error.metadata.payment_id);
                });

                // Open Razorpay payment UI:
                rzp1.open();
            });
        };
    </script>
</html>
