<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax App</title>
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
    </script>
    
</head>
<body>    
    {% comment %} <input id="textbox" type="text" onkeyup="send()">
    <button id="submit" onclick="send()">Submit</button>
    <div id="preview"></div> {% endcomment %}

    <select name="country" id="country" onchange='getState(value)'></select>
    <select name="state" id="state" onchange='getCity(value)'></select>
    <select name="city" id="city"></select>
</body>
<script>
    $(document).ready(function (){
        $.get("country", {}, function(response){
            options = "";
            for(country of response.countries){
                options += `<option value="${country.id}">${country.countryName}</option>`
            };
            $("#country").html(options);   
        });
    });

    function getState(countryId){
        $.get("state", {countryId}, function(response){
            options = "";
            for(state of response.states){
                options += `<option value="${state.id}">${state.stateName}</option>`
            };
            $("#state").html(options);
        });
    };

    function getCity(stateId){
        $.get("city", {stateId}, function(response){
            options = "";
            for(city of response.cities){
                options += `<option value="${city.id}">${city.cityName}</option>`
            };
            $("#city").html(options);  
        });
    };

    // -----------------------------------------------------------

    {% comment %} function send(){
        var data = $("#textbox").val()
        $.get(
            'register',
            {data},
            function (response){
                var list = "<ul>"
                response.products.map((el)=>{
                    list+=`<li>${el.name}</li>`
                })

                list += "</ul>"
                $("#preview").html(list)
            }
        ) 
    }  {% endcomment %}
</script>   
</html>