/* DEFAULT & LAYOUT PAGE ------------------------------------------------------------------------------------------------ */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar{
    background-color: lightgoldenrodyellow;
}
body{
    user-select: none;
    background-color: aliceblue !important
}



/* HOME PAGE ------------------------------------------------------------------------------------------------------------ */
.carousel-item img {
    height: 70vh;
    object-fit: cover;
    filter: brightness(0.5); /* Makes the white text pop */
}
.carousel-caption {
    flex-direction: column;
    text-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.section-padding {
    padding: 80px 0;
}

.feature-card {
    transition: transform 0.3s ease;
    border: none;
    background: #f8f9fa;
}
.feature-card:hover {
    transform: translateY(-10px);
}


/* DASHBOARD PAGE------------------------------------------------------------------------------------------------------- */
#previewImage {
    height: 150px;
    width: 300px;
}


/* BLOGS LIST PAGE------------------------------------------------------------------------------------------------------- */
.card-img-top{
    height: 200px;
    width: 100%;
    object-fit: cover;
}




/* ---HOME PAGE--- */
@media (width<800px) {
    .carousel-caption{
        flex-wrap: wrap;
    }
}